
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo"><img class="brand-logo" src ="../../assets/logo.svg" alt="Logo Marias Cientistas"/></a>
      <ul class="right hide-on-med-and-down">
        <li routerLinkActive="active"><a routerLink="/home">HOME</a></li>
        <li routerLinkActive="active"><a routerLink="/about-us">QUEM SOMOS</a></li>
        <li routerLinkActive="active"><a routerLink="/contact">CONTATO</a></li>
        <li routerLinkActive="active"><a routerLink="/join-us">JUNTE SE A NÓS</a></li>
        <li routerLinkActive="active"><a routerLink="/blog">BLOG</a></li>
      </ul>
    </div>
  </nav>

