<section class="initial">
        <img class="background-img" src="../../../assets/background.jpeg" alt="Mulheres Felizes">
         <div class="background-txt col s6">
            <h1>"Se você educa uma mulher, você educa toda uma nação"</h1>
         </div>
</section>
<section class="gender-gap">
    <div class="row">
        <div class="col s12">
            <h2>A DISPARIDADE DE GÊNERO EM STEM</h2>
            <p>No Brasil, menos de 20% dos programadores são do sexo feminino, e apenas 3 a cada 20 matrículas nos cursos de tecnologia são feitas por elas.</p>
        </div>
    </div>
</section>
<section class="goals">
    <div class=" title row">
        <div class="col s12">
            <h2>Nossos Objetivos</h2>
        </div>
        <div class="row">
            <div class = " graduation col s4">
                <img src="../../../assets/female-graduate-student.svg" alt ="Ícone de uma formanda">
                <p>Promover o contato de meninas no ensino fundamental II e médio com a ciência e modelos femininos na área.</p>
            </div>
            <div class="sorority col s4">
                <img src="../../../assets/activism.svg" alt = "Ícone de mulheres dando as mãos">
                <p>Criar uma rede de suporte entre as mulheres na área de STEM</p>
            </div>
            <div class="leadership col s4">
                <img src="../../../assets/feminism.svg" alt = "Ícone de mulher no topo do mundo">
                <p>Investir na ascensão feminina a altos cargos nos campos da tecnologia e da ciência</p>
            </div>
        </div>
    </div>
</section>
<section class="mission">
    <div class="row">
        <div class="col s12">
            <h2>Nossa Missão</h2>
        </div>
        <div class="row">
            <div class="col s4">
                <img class="desenho" src="../../../assets/marie-curie.png" alt="Desenho de Marie Curie">
                <img class="assinatura" src="../../../assets/Marie_Curie_signature.svg" alt="Assinatura de Marie Curie">
            </div>
            <div class="col s8">
                <p>"Impactar o Brasil, promovendo a igualdade de gênero em STEM e investindo em mulheres como líderes de nossa geração"</p>
            </div>
        </div>
    </div>
</section>