<section class="about-us">
    <div class="about-inner">
        <h1>QUEM SOMOS?</h1>
        <h3>Uma ONG focada no desenvolvimento da capacidade feminina de transformar a ciência no Brasil</h3>
    </div>
</section>
<section class="history">
    <div class="history-inner">
        <h2>Nossa História</h2>
        <p>Nascemos do inconformismo de um grupo de mulheres cientistas com a realidade de seus cursos e locais de trabalho, todos com uma presença feminina muito pequena, quando existente. Essa porcentagem trás grandes danos à pesquisa científica e seus avanços, com a diminuição de diversidade de insights e vivências sendo trazidos para auxiliar no processo de criação e design.</p>
        <p>Com isso em mente, começamos a criar um projeto para tentar diminuir essa disparidade localmente, levando universitárias e pesquisadoras para realizarem palestras e rodas de conversa em escolas públicas e serem mostra de como a presença feminina é importante na ciência, e apresentando outras oportunidades de carreira para essas meninas.</p>
        <p>Após o sucesso dessa etapa do programa e ter sido estabelecida sua regularidade, começamos um segundo programa, esse voltado para profissionais sêniores que enfrentam falta de suporte e investimento para assumirem posições de CEO, chefes de grupos de pesquisa, e outras posições de liderança devido ao machismo da nossa sociedade e o pré-conceito de que características de liderança são masculinas. Essa parte do projeto funciona por meio de avaliações de submissões de projetos por uma banca inteiramente feminina, e o financiamento dos 10 melhores projetos submetidos ao longo do ano.</p>
        <p>Esse site faz parte da terceira etapa do projeto, que tem como objetivo criar uma rede de mulheres em STEM em que possamos compartilhar conhecimento, organizar nossa participação em eventos e ter o suporte umas das outras para continuarmos a florescer nesse meio e impactar o Brasil da melhor forma possível.</p>
    </div>
</section>
<section class="team">
    <div class="team-inner">
        <h2>Faça parte do nosso time</h2>
        <p>Mulheres empoderadas levando conhecimento e esperança para meninas de 11 aos 18 anos e tornando possível um futuro de igualdade de gênero em STEM.</p>
        <button>JUNTE SE A NÓS</button>
    </div>
</section>
